<section id="accommodation">
	
	<div class="content">
		
		<div class="top">
		<h2>Staying at the Venue</h2>
		<p>The venue <a href="http://www.galileohotel.sk">Hotel Galileo (Donovaly)</a> has a wedding rate of &euro;70 per room per night. 
		   <a href="mailto:recepcia@galileohotel.sk">recepcia@galileohotel.sk</a><br />
		   +421 48 4199 884
        </p>             

		<p>There are limited rooms in the venue itself, if the hotel is full, they will automatically book you into the nearby Residence Hotel (below) for the same wedding rate.</p>             
		
		<h2>Alternative accommodation options</h2>
		<p>There are many other hotels, apartments and pensions in the Donovaly locality, here are some we recommend:</p> 
		</div>
		
        <div class="column1">
	     	<p><a href="http://www.residencehotel.eu">Residence Hotel</a><br />
			+421 48 4199 777</p>
			
			<p><a href="http://www.aplend.com/ubytovanie/3/">Aplend Kamzik</a><br />
			+421 90 4744 111</p> 
			
			 <p><a href="http://www.hotelsport.sk">Wellness hotel sport</a><br />
				+ 421 90 1705 794<br /></p>               
		</div>
		
		<div class="column2">                           

        	<p><a href="http://www.maguradonovaly.sk">Chata pod Maguru</a><br />
			+421 48 4199 752</p>

			<p><a href="http://www.damisport.sk">Penzion Damisport</a><br />
			+421 48 4199 344</p>

        </div>

	</div>            
	
</section>