<section id="contact">

	<div class="content">
		
	</div>                 
                                                                     
<!-- 	<h1>Feel free to contact us if you have any questions!</h1>
                 
	<p><strong>Colm:</strong> +353879175706</p>
	<p><strong>Miriam:</strong> +353868724275</p>
	<p><strong>E-mail:</strong> <a href="mailto:wedding@miriamandcolm.com">wedding@miriamandcolm.com</a></p>

	<h1>Need to send us something by mail?</h1>

	<p>Apt. 17, House 3,<br/>
	   Linden Court,<br/>
	   Grove Ave,<br/>
	   Blackrock,<br/>
	   Co. Dublin,<br />
	   Ireland
		</p>
 -->                                                                                                
</section>