<section id="contact">

	<div class="content">
		
		<div class="contact-content">    
			<p>Need to get in touch, here's the details:</p>   
			<p><strong>Colm:</strong> +353879175706</p>
			<p><strong>Miriam:</strong> +353868724275</p>
			<p><strong>E-mail:</strong> <a href="mailto:wedding@miriamandcolm.com">wedding@miriamandcolm.com</a></p>
		</div>
		
	</div>                 
                                                                                                                                                        
</section>