<footer>
         
</footer>

</div>

<script>                         

// google analytics!
  var _gaq=[['_setAccount','UA-39185221-1'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));  
                    
</script>
<script src="http://code.jquery.com/jquery-1.10.0.min.js"></script> 
<script src="js/jquery.scrollto.min.js"></script> 
<script src="js/jquery.localScroll.min.js"></script>  
<script src="js/jquery.countdown.min.js"></script>          
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/wedding.js"></script>     
</body>
</html>