<section id="guide">    
	
	<div class="content">
		  
		<div class="column1">
			<h2><a href="/lightboxes/slovak_words.html" class="fancybox fancybox.ajax">Common Slovak words</a></h2>
			<p>Learn some common Slovak vocabulary.</p>
		</div>
		
		<div class="column2">
		   	<h2><a href="/lightboxes/slovak_traditions.html" class="fancybox fancybox.ajax">Slovak traditions</a></h2>
			<p>There are some Slovak traditions that happen during weddings, here's a guide to some of the ones you'll see!</p>
		</div>
		
		<div class="column3">
			<h2><a href="/lightboxes/slovak_fooddrink.html" class="fancybox fancybox.ajax">Food and Drink</a></h2>
			<p>Find out about the various courses and drinks at the wedding.</p> 
		</div>
		
	</div>
	
</section>