<section id="guide">    
	
	<div class="content">
		  
		<div class="section1">
			<h2><a href="/lightboxes/slovak_words.html" class="fancybox fancybox.ajax">Common Slovak words</a></h2>
			<p>Learn some common Slovak vocabulary.</p>
		</div>
		
		<div class="section2">
		   	<h2><a href="/lightboxes/slovak_traditions.html" class="fancybox fancybox.ajax">Slovak traditions</a></h2>
			<p>There are some Slovak traditions that happen during weddings, here's a guide to some of the ones you'll see!</p>
		</div>
		
		
	</div>
	
</section>