<!doctype html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% if page.title %} {{ page.title }} - {% endif %} - Miriam &amp; Colm's Wedding</title>

    <meta name="description" content="{{page.excerpt}}">

    <meta name="viewport" content="width=device-width">  
	<meta name="noindex,nofollow,noarchive" />
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/fancybox/jquery.fancybox.css" type="text/css" media="screen" />  
	<meta name="google-site-verification" content="F0CBh8paRoi_LgkYsHMJ5GxojITuNq5aQoumAoPDPGo" />
</head>                  
 
<header>
	<nav>
		<ul>
			<li><a href="#countdown">M+C</a></li>   
			<li><a href="#venue">Venue</a></li>
      	    <li><a href="#travel">Travel</a></li> 	
      	    <li><a href="#accommodation">Accommodation</a></li>	
    	    <li><a href="#schedule">Schedule</a></li>	
    	    <li><a href="#guide">Guide to Slovak Weddings</a></li>	
    	    <li><a href="#contact">Contact</a></li>
    	</ul>
	</nav> 
</header>
