<section id="travel">
	       
	<div class="content">
		
		<div class="column1">                
			<h2>Airports</h2>
		
			<h3>Bratislava, Slovakia</h3>
			<p>Bratislava is approx. 3.5 hours by car to the venue, and is served by <a href="http://www.ryanair.com">Ryanair</a> who offer daily direct flights from Dublin and other locations.</p>
		
		
			<h3>Vienna, Austria.</h3>
			<p>Vienna is approx. 4 hours by car to the venue and is served by <a href="http://www.aerlingus.com">Aer Lingus</a> (daily direct flights from Dublin) and other international carriers.</p>
		</div>                     
		
		<div class="column2">
			<h2>By car</h2>
			<p>Care hire is available at both airports, and also in city centre locations. We recommend travelling on the motorway via Zilina, rather than the shorter non-motorway route usually provided by Satnavs. <a href="http://goo.gl/maps/g39c1">Directions via Zilina on Google Maps</a>.</p> 
		                     
			<h2>By public transport</h2>  
			<p><a href="/lightboxes/public_transport.html" class="fancybox fancybox.ajax">Information about trains and bus services available</a></p>
		</div>
		
	</div>
	
</section>